<?xml version="1.0"?>
<settings><tag id="0" name="camera">537.07837</tag><tag id="1" name="srcx1">537.07837</tag><tag id="2" name="srcx2">401.33026</tag><tag id="3" name="srcx3">535.67395</tag><tag id="4" name="srcx4">337.28033</tag><tag id="5" name="srcy1">337.40588</tag><tag id="6" name="srcy2">311.37167</tag><tag id="7" name="srcy3">337.40588</tag><tag id="8" name="srcy4">385.98575</tag></settings>